:root{
    --verde: #006400;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta) ;
    font-family: 'Arial', Times, serif;
    color: white;

}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--verde);
    font-family: 'Sacred Hertz Straight', sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}

header nav a:hover{
    color: #fff;
}

/*anime Principal*/
.anime-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('/AnimeFlix---DIO/img/capa.jpg');

    height:400px;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.anime-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.anime-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Sacred Hertz', sans-serif;

}

.botao{
    background-color: rgba(0,0,0,.50) ;
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.anime-principal .container{
    width: 70%;
}

.box-anime{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-animes{
    margin-top: 5px;
}

h3{
    font-family: 'Sacred Hertz', sans-serif;
    color: #006400;

}